.optionsBox {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.svgIcon {
  cursor: pointer;
  z-index: 0;
  user-select: none;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
  background-color: var(--very-dark-grayish-blue-1);
  border-radius: 4px;
  z-index: 1000;
  overflow: hidden;
  width: fit-content;
  color: var(--light-grayish-blue);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: var(--very-dark-grayish-blue-2);
}

.dropdownLabel {
  cursor: pointer;
  padding: 4px 8px;
  color: var(--light-grayish-blue);
  transition: 0.2s;
  border: 1px solid var(--light-grayish-blue);
  width: 142px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dropdownLabel svg {
  width: 20px;
  height: auto;
  margin-bottom: 2px;
  display: none;
}

.dropdownLabel:hover {
  background-color: var(--very-dark-grayish-blue-2);
}

.menuOpenUp {
  border-radius: 0 0 4px 4px; /* Radio solo en la parte inferior cuando se abre hacia arriba */
}

.menuOpenDown {
  border-radius: 4px 4px 0 0; /* Radio solo en la parte superior cuando se abre hacia abajo */
}
