.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  text-align: center;
  font-size: 1.5em;
}

.container {
  padding: 2em 1em;
  margin-top: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  padding-bottom: 1em;
  flex-direction: column;
  min-width: 25em;
  gap: 1em;
}

.inputGroup > label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.1em;
}

.inputGroup input[type="radio"] {
  margin-right: 0.5em;
}

.radioGroup {
  display: flex;
  gap: 1em; /* Espacio entre opciones */
}

.radioGroup label {
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.main input[type="text"],
.main input[type="password"],
.main input[type="radio"] {
  width: 100%;
  margin-top: 5px;
}

.main input[type="radio"] {
  margin: 0;
}

.loginButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  margin-top: 0.3em;
}

.loginButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}
