.form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
  padding: 2em 1em;
  margin-top: 0.9em;
  margin-bottom: 3em;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
  background-color: var(--very-dark-desaturated-blue);
  padding-bottom: 1em;
}

.inputGroup {
  margin-bottom: 15px;
  position: relative;
}

.label {
  font-weight: bold;
  display: block;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
  height: 50px;
}

.button:hover {
  background-color: #0056b3;
}
.errorInput {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  right: 0;
}

.button.creatingClient {
  background-color: var(--grey-disabled);
  cursor: default;
}

.clientsList {
  position: absolute;
  top: 100%;
  border-radius: 8px;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.65);
  width: 100%;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  display: none;
}

.clientsList li {
  height: 3.5em;
  padding: 1em;
  background-color: var(--very-dark-grayish-blue-1);
  cursor: pointer;
}

.clientsList li:hover {
  background-color: var(--very-dark-grayish-blue-2);
}

.input:focus + .clientsList {
  display: list-item;
}

.infoSearchFetch {
  text-align: center;
}
