.clientLink {
  cursor: pointer;
  color: #0070f3;
  position: relative;
}

.clientLink:hover {
  text-decoration: underline;
}

.clientBox {
  position: absolute;
  background-color: var(--very-dark-desaturated-blue);
  border: 1px solid var(--light-grayish-blue);
  border-radius: 0.25em;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
  min-width: 200px;
  color: var(--light-grayish-blue);
  max-width: 400px;
  overflow: hidden;
}

.clientBox p {
  margin: 0;
  font-size: 0.9em;
}
