@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  --white: white;
  --white-hover: rgb(243, 244, 246);
  --grey2: rgb(209, 213, 219);
  --grey: rgb(224, 224, 224);
  --background-color-light-purple: #e4d9ff;
  --primary-color-dark-blue: #273469;
  --primary-color-darker-blue: #242562;
  --secondary-color-dark-black: #30343f;
  --third-color-ice-light: #fafaff;
  --color-light-night-blue: #3d37f1;
  --third-color-light-black: #424755;
  --color-charcoal: #272727;
  --light-indigo: #636ea9;
  --grey-disabled: #8b93a7;
  --font-color-primary: #1d275f;
  --primary-red: #ef4444;
  --secondary-red: #fa8383;
  --third-red: #da0202;
  --primary-green: #1ec91e;
  --secondary-green: #1aad1a;
  --primary-light-blue: #007bff;
  --secondary-light-blue: #0000ff;
  --third-light-blue: #0068d8;
  --primary-yellow: #ffab3e;
  --secondary-yellow: #fd9916;
  --color-asignada: #f28b82; /* Rojo claro coral */
  --color-revision: #fff475; /* Amarillo suave pastel */
  --color-reparada: #aecbfa; /* Azul cielo pastel */
  --color-rechazada: #616161; /* Gris oscuro intermedio */
  --color-sin-solucion: #9e9e9e; /* Gris claro */
  --color-entregado: #d7aefb; /* Lila claro */
  --color-sin-asignar: #b0bec5; /* Gris azulado suave */
}

main {
  color: var(--light-grayish-blue);
  background-color: var(--very-dark-blue);
  min-width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 5em);
}

body {
  padding-top: 5em;
}

body,
html {
  overflow-x: hidden;
}

button {
  background-color: var(--very-dark-desaturated-blue);
  border: 1px solid var(--light-grayish-blue);
  border-radius: 0.25em;
  padding: 0.5em 2em;
  padding-bottom: 0.425em;
  color: var(--white);
  height: 39px;
  min-width: 105px;
}

button:hover {
  background-color: var(--very-dark-grayish-blue-1);
}

.loader {
  height: 100%;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: auto;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

input {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  outline: none;
}

input:focus {
  border-color: var(--primary-yellow); /* Un buen contraste */
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.35em;
  text-align: center;
}
