@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --very-dark-blue: #0b1120;
  --very-dark-desaturated-blue: #1a2239;
  --light-grayish-blue: #d1d9f1;
  --light-grayish-blue-hover: #e6ecf9;
  --dark-grayish-blue: #878e9e;
  --very-dark-grayish-blue-1: #464c59;
  --very-dark-grayish-blue-2: #2b313c;
}
