.setOrderClientForm {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  padding: 1em 1em;
  margin-top: 0.9em;
  margin-bottom: 3em;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
  background-color: var(--very-dark-desaturated-blue);
  margin-left: auto;
  margin-right: 0;
  transition: 0.25s height linear;
  position: relative;
  height: fit-content;
}
.collapsibleContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.25s height linear;
  gap: 1em;
}

.inputGroup {
  position: relative;
}

.label {
  font-weight: 500;
  display: block;
}

.input {
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  outline: none;
}

.input:focus {
  border-color: var(--primary-yellow); /* Un buen contraste */
}

.clientsList {
  position: absolute;
  top: 105%;
  border-radius: 8px;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.65);
  width: 100%;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 8px;
  overflow: hidden;
  display: none;
}

.clientsList li {
  padding: 0.75em;
  background-color: var(--very-dark-grayish-blue-1);
  cursor: pointer;
}

.clientsList li:hover {
  background-color: var(--very-dark-grayish-blue-2);
}

.input:focus + .clientsList {
  display: list-item;
}

.infoSearchFetch {
  text-align: center;
}

.button {
  color: white;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
}

.button:hover {
  background-color: #0056b3;
}

.toggleClientFields {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  color: var(--primary-light-blue);
  margin-top: 0.5em;
}

.toggleClientFields svg {
  width: 32px;
  padding-bottom: 2px;
  transition: 0.1s;
}

.rotate180 {
  transform: rotate(180deg);
}

.clientId {
  font-size: 15px;
  font-weight: 400;
  color: var(--light-grayish-blue-hover);
  margin-left: 1em;
}

.clientSelectedUl {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.clientSelectedUl li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clientLabel {
  font-weight: 600;
}

.clientData {
  font-weight: 400;
}

.closeBtn {
  position: absolute;
  width: 32px;
  right: 1em;
  top: 1.1em;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 4px;
}
.closeBtn:hover {
  background-color: var(--very-dark-grayish-blue-1);
}

.errorInput {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  right: 0;
}
