.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em 1em;
  margin-top: 0.9em;
  margin-bottom: 3em;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.45);
  background-color: var(--very-dark-desaturated-blue);
  height: fit-content;
  width: 100%;
}

.inputGroup {
  position: relative;
}

.label {
  font-weight: 500;
  display: block;
}

.errorInput {
  border-color: red !important;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  right: 0;
}

.costoLi {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  margin-bottom: 1.1em;
  justify-content: flex-start;
  align-items: start;
}

.costoLi .inputGroup:first-of-type {
  width: 70%;
}
.costoLi .inputGroup:nth-of-type(2) {
  width: 30%;
}

.costoAddBtn {
  height: 1.5em;
  border: dashed 2px #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  margin-top: 1.5em;
}

.costoUl {
  border-bottom: 2px solid #ccc;
  padding-bottom: 1em;
}

.costsBox {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.costsBox li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.costMinus {
  cursor: pointer;
  height: 34px;
  margin-top: 24px;
}

.costMinus:hover {
  transform: scale(1.1);
}

.garantiaBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0;
  gap: 0.5em;
}
