.main {
  padding: 2.75em 3.5em;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-size: 2em;
}

.main label {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.yearBox input {
  width: fit-content;
}

.graphFilter {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.isAnnualBox {
  padding-top: 1.5em;
}
